/*style.css*/

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background: #343540;
	color: #fff;
	font-size: 16px;
}
.wrapper {
	padding: 0 2em;
}
.main_title {
	/*font-family: math;*/
	font-weight: 300;
	/*letter-spacing: 2px;*/
	font-size: 2.5em;
	text-align: center;
}
.logo_block {
	margin-top: 2em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.subtitle {
	margin: ;
	font-size: 0.8em;
	color: #83848B;
	display: block;
	text-align: center;
	text-decoration: none;
}

p {
  font-weight: 500;
}









.matrix_btn {
	margin: 2px;
	display: inline-block;
	text-decoration: none;
	color: #D7D7D7; /*#D7D7D7 #2D2E36*/
	background-color: #26262D;
	padding: 0.5em 0.5em;
	transition: 0.2s;
	border-radius: 0.25rem;
	user-select: none;
	cursor: pointer;
}
.btn {
	/*margin: 0 0.25em 0 0;*/
	margin: 2px;
	display: inline-block;
	text-decoration: none;
	color: #D7D7D7; /*#D7D7D7 #2D2E36*/
	background-color: #26262D;
	padding: 0.5em 1em;
	transition: 0.2s;
	border-radius: 0.25rem;
}
.btn:hover, .matrix_btn:hover, .active {
	color: black;	/*#DCDCDC*/
	background-color: #fff;	/*#2B2C34 #373741 #00a898*/
}

/*#141414 - черный #673ab7 - фиолетовый 
#009688 - зеленый #a93838 - красный 
#5e88 - зеленый #9693cb - синий 
#9693cbde - hex синий*/

.btn_field {	
	max-width: 400px;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*padding: 0 0.25em;*/
}

.btn span {
	/*font-size: 0.6em;*/
}
.blue {
	background-color: #9693cbde;	/*#7C95B4*/
	color: black;
}
.blue:hover {
	background-color: #9693cb; /*#839EBE*/
	color: black;
}
.add {
	background-color: #00a898;	/*#7c95b4 #a29edb*/
	color: black;
}
.add:hover {
	background-color: #00BCA9;	/*#90aed3 #00a898*/
	color: black;
}
/*Сделать бефором индексы строк и столбцов*/
.basic:before {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -7px;
    border-right: 2px solid #222;
    width: 10px;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
	}

.cross_symbol {
	color: #919191;	/*color: #919191; #bfbfbf*/
	display: none;
	font-size: 2em;
	font-weight: 500;
	user-select: none;
	cursor: pointer;
	/*transition: color 0.2s ease-in-out;*/
	transition: 0.2s;
}
.cross_symbol:hover, .d_block span:hover {
	color: #fff;
}
.logo_img {
	margin: 0.3em 0.25em 0 0;
	height: 3em;
	/*width: 70px;*/
}
.text01 {
	height: 3em;
	overflow: hidden;
	display: flex;
	justify-content: center;
	/*align-items: baseline*/
}
.d_block {
	max-width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em auto 0 auto;
	align-items: center;
}
.d_block span {
	font-size: 2em;
	padding-bottom: 0.25em;
	margin-right: -0.95em;
	margin-left: 0.25em;

	color: #919191;
	font-weight: 500;
	user-select: none;
	cursor: pointer;
	/*transition: color 0.2s ease-in-out;*/
	transition: 0.2s;
}